<div ng-repeat="(key, val) in analytics.tabs">
  <div class="entry">
    <div class="url">
      {{key}}
    </div>
    <div ng-repeat="session in val.sessions">
      <div class="timeOpen">
       Time Open: {{session.timeOpen/60000 | number:2}} mins.
      </div>
      <div class="timeActive">
        Time Active: {{session.timeActive/60000| number:2}} mins.
      </div>
      <div class="firstCheckin">
        First Checking: {{session.firstCheckin | date:'medium'}}
      </div>
      <div class="lastCheckin">
        Last Checking: {{session.lastCheckin | date:'medium'}}
      </div>
    </div>
  </div>
</div>